.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  padding: 0;
  margin: 40px auto;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
